/* Colors */

:root {
     --green-primary: #55c57a;
     --primary-light: #7ed56f;
     --primary-dark: #28b485;

     --grey-dark: #777;
     --grey-dark-2: #999;
     --grey-dark-3: #333;

     --white: #fff;
     --black: #000;
}


/* ARTICLE */
.article__box {
     margin: 16rem 0 6rem 0;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.486);
             box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.486);
     padding: 3rem;
     background-color: var(--white);
}

@media only screen and (max-width: 500px) {
     .article__box {
          margin-top: 20rem;
     }
 
 
 }

.article__content {
     -ms-flex-preferred-size: 60%;
         flex-basis: 60%;
     padding: 1rem;
}

@media only screen and (max-width: 700px) {
     .article__content {
          -ms-flex-preferred-size: 100%;
              flex-basis: 100%;
     }

     .article__photo {
          display: none;
     }
 
 
 }


.article__photo-box {
     -webkit-box-flex: 1;
         -ms-flex: 1;
             flex: 1;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: center;
         -ms-flex-pack: center;
             justify-content: center;
     -webkit-box-align: center;
         -ms-flex-align: center;
             align-items: center;
}

.article__photo {
     height: 30rem;
     width: 30rem;
     border-radius: 200%;
}

@media only screen and (max-width: 900px) {
    .article__photo {
        height: 22rem;
        width: 22rem;
    }
}

.article__icon {
     margin: 1rem 0;
     font-size: 3rem;
}

.heading-three {
     color: var(--green-primary);
}

.article__paragraph {
     font-size: 1.5rem;
     letter-spacing: .1rem;
     text-align: justify;
     word-break: break;
}

.author {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-align: center;
         -ms-flex-align: center;
             align-items: center;
     margin-top: 3rem;
}

.author__img {
     height: 9rem;
     margin-right: 3rem;
}

.author__name {
     font-size: 1.5rem;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
         -ms-flex-direction: column;
             flex-direction: column;
}
