@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");

/* Colors */

:root {
     --green-primary: #55c57a;
     --primary-light: #7ed56f;
     --primary-dark: #28b485;

     --grey-dark: #777;
     --grey-dark-2: #999;
     --grey-dark-3: #333;

     --white: #fff;
     --black: #000;
}


*,
*::after,
*::before {
     margin: 0;
     padding: 0;
     -webkit-box-sizing: inherit;
             box-sizing: inherit;
}

html {
     font-size: 62.5%;
     overflow-x: hidden;
}

@media only screen and (max-width: 1200px) {
    html {
        font-size: 56.25%;
    }

    .row {
        padding: 0 3rem;
    }
}

@media only screen and (max-width: 900px) {
    html {
        font-size: 43%;
    }

}

body {
     -webkit-box-sizing: border-box;
             box-sizing: border-box;
     font-family: 'Lato', sans-serif;
     line-height: 1.6;
     color: var(--grey-dark);
     position: relative;
}

.row {
     max-width: 1140px;
     margin: 0 auto;
}

/*************** Utilities ****************/
.u-bg {
    background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 111, 0.815)), to(rgba(40, 180, 131, 0.822))), url("img/bg-img.png");
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.815), rgba(40, 180, 131, 0.822)), url("img/bg-img.png");
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed;
    min-height: 95vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.main-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.main--article {
    flex-direction: column;
}

/*************** Typography ****************/
.heading-primary {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
         -ms-flex-direction: column;
             flex-direction: column;
     color: var(--white);
     margin-bottom: 4rem;
}

.heading-primary--main {
    font-size: 6rem;
    text-transform: uppercase;
    letter-spacing: .5rem;
}

.heading-primary--second {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .5rem;
}

.heading-second {
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
    font-weight: 400;
    letter-spacing: .5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.heading-second::after {
    content: "";
    display: block;
    background-color: var(--green-primary);
    height: 2px;
    width: 70px;
    margin-top: 1rem;
}

.heading-three {
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .5rem;
    margin: 1.5rem 0;
}

/*************** BUTTONS ****************/
.btn:link, .btn:visited {
     display: inline-block;
     text-decoration: none;
     text-transform: uppercase;
     -webkit-transition: all .2s;
     transition: all .2s;
}

.btn--white:link, .btn--white:visited {
    display: inline-block;
     font-size: 1.6rem;
     margin-top: 2rem;
     color: var(--grey-dark);
     background-color: var(--white);
     padding: 1.5rem 4rem;
     border-radius: 10rem;
     border: 1px  solid transparent;
     -webkit-transform: translateY(-3px);
             transform: translateY(-3px);
     -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.486);
             box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.486);
}

.btn--white:hover {
     -webkit-transform: translateY(0px);
             transform: translateY(0px);
     -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.186);
             box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.186);
}

/*************** NAVIGATION ****************/
.navigation {
    position: absolute;
    width: 100%;
    padding: 5rem 0rem;
}

.navigation__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.navigation__icon {
    font-size: 3.3rem;
    color: var(--white);
}

@media only screen and (max-width: 500px) {
    .navigation__icon {
        display: none;
    }

}

.navigation__nav {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

@media only screen and (max-width: 500px) {
    .navigation__nav {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .navigation__item {
        margin-top: 3rem;
    }

}

.navigation__item:not(:last-child){
    margin-right: 1.2rem;
}

.navigation__link:link,
.navigation__link:visited {
    text-decoration: none;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: var(--white);
    font-weight: 300;
    letter-spacing: .1rem;
    padding: 1.2rem 1.3rem;
    background-color: transparent;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.navigation__link--active:link,
.navigation__link--active:visited,
.navigation__link:hover,
.navigation__link:active {
    background-color: var(--white);
    color: var(--grey-dark);
}

.navigation__link--add-article {
    margin: 6rem;
}
/*************** HEADER ****************/

 .header__text-box {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      text-align: center;
 }

 .header__restaurant {
     width: 90rem;
     display: flex;
     flex-wrap: wrap;
    justify-content: space-around;
 }

/*************** FOOTER ****************/
 .footer {
     padding: 6rem 0;
     background-color: rgb(24, 35, 36);
 }

 .footer__content {
     padding: 2rem;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: justify;
         -ms-flex-pack: justify;
             justify-content: space-between;
     -webkit-box-align: center;
         -ms-flex-align: center;
             align-items: center;
 }

 @media only screen and (max-width: 500px) {
    .footer__content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .footer__nav, .footer__nav-social {
        margin: 2rem 0 ;
    }

}

 .footer__icon {
    font-size: 4rem;
    color: var(--white);
 }

 .footer__nav, .footer__nav-social {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     list-style: none;
 }

 .footer__item:not(:first-child) {
     margin-left: 3rem;
 }

 .footer__link {
     text-decoration: none;
     font-size: 1.7rem;
     color: var(--grey-dark);
 }

 .footer__link--social {
     font-size: 2.8rem;
 }

 .footer__info {
     margin-top: 4rem;
     font-size: 1rem;
     text-align: center;
 }