:root {
     --green-primary: #55c57a;
     --primary-light: #7ed56f;
     --primary-dark: #28b485;

     --grey-dark: #777;
     --grey-dark-2: #999;
     --grey-dark-3: #333;

     --white: #fff;
     --black: #000;
}


.restaurant {
     width: 70rem;
     display: flex;
     align-items: center;
     justify-content: space-around;
     color: var(--white);
     font-size: 1.6rem;
}

.restaurant__logo-box {
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: rgba(255, 255, 255, 0.786);
     border-radius: 20px;
     padding: 4rem;
}

.restaurant__logo {
     width: 15rem;
     height: 15rem;
}

.restaurant__name {
     font-size: 4rem;
}

.restaurant__menu {
     font-size: 2rem;
}