/* Colors */

:root {
     --green-primary: #55c57a;
     --primary-light: #7ed56f;
     --primary-dark: #28b485;

     --grey-dark: #777;
     --grey-dark-2: #999;
     --grey-dark-3: #333;

     --white: #fff;
     --black: #000;
}

.form {
     padding: 17rem 0 10rem 0;
     width: 60%;
}

.form__box {
     background-color: var(--white);
     color: var(--grey-dark-3);
     padding: 3rem;
     border-radius: 10px;
     -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.486);
             box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.486);
}

.form__group {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     margin-bottom: 2.5rem;
}

@media only screen and (max-width: 600px) {
  .form__group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .form {
    width: 90%;
  }

  .form__box {
    margin-top: 3rem;
  }
}

.form__group:first-of-type {
     margin-top: 4rem;
}

.form__label {
     -webkit-box-flex: 1;
         -ms-flex: 1;
             flex: 1;
     font-size: 1.5rem;
}
.form__input {
     -webkit-box-flex: 2;
         -ms-flex: 2;
             flex: 2;
     /* padding: 1.5rem; */
     border: 2px solid rgb(243, 243, 243);
     -webkit-transition: all .3s;
     transition: all .3s;
}

.form__input > input {
    width: 100%;
    padding: 1rem;
    border: none;
}

.form__input > input:focus {
  outline: none;
}

.form__input:focus:not(.form__input--submit) {
     outline: none;
     border-bottom: 2px solid var(--green-primary);
}

.form__input--submit {
     background-color: var(--green-primary);
     color: var(--white);
     font-size: 1.2rem;
     padding: 1.5rem;
     border: none;
     text-transform: uppercase;
}

.form__input--submit:focus {
     outline: none;
}

.form__input > select {
  width: 100%;
  outline: none;
}

.form__input > textarea {
  width: 100%;
  outline: none;
  border: none;
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
     font-size: 1.2rem;
     text-transform: uppercase;
   }
   ::-moz-placeholder { /* Firefox 19+ */
     font-size: 1.2rem;
     text-transform: uppercase;
   }
   :-ms-input-placeholder { /* IE 10+ */
     font-size: 1.2rem;
     text-transform: uppercase;
   }
   :-moz-placeholder { /* Firefox 18- */
     font-size: 1.2rem;
     text-transform: uppercase;
   }




   /****** Report *******/
.report {
  margin: 8rem 0;
  width: 70%;
  padding: 6rem 2rem;
  background-color: var(--white);
  border-radius: 10px;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.486);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.486);
}

@media only screen and (max-width: 600px) {
  .report {
    width: 90%;
  }
}


.report__result {
  background-color: var(--white);
  font-size: 2rem;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.report__total {
  margin-top: 1.5rem;
  margin-left: .6rem;
  font-size: 2rem;
}
