/* Colors */

:root {
     --green-primary: #55c57a;
     --primary-light: #7ed56f;
     --primary-dark: #28b485;

     --grey-dark: #777;
     --grey-dark-2: #999;
     --grey-dark-3: #333;

     --white: #fff;
     --black: #000;
}

.section-about {
     padding: 10rem 0;
}

/* SECTION ABOUT */
.about__box {
     margin-top: 14rem;
     margin-bottom: 2rem;
     background-image: url("../img/about-bg.png");
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     background-attachment: fixed;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: end;
         -ms-flex-pack: end;
             justify-content: flex-end;
     -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.486);
             box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.486);
}

.about__content {
     -ms-flex-preferred-size: 40%;
         flex-basis: 40%;
     padding: 3rem;
     background-color: var(--white);
     margin-right: 10rem;
     -webkit-transform: scale(1.2);
             transform: scale(1.2);
     -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.486);
             box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.486);
}

@media only screen and (max-width: 700px) {
     .about__box {
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
     }
     .about__content {
          -ms-flex-preferred-size: 70%;
              flex-basis: 70%;
          margin: 0rem;
     }
 
 
 }

.about__icon {
     margin: 1rem 0;
     font-size: 3rem;
}

.heading-three {
     color: var(--green-primary);
}

.about__paragraph {
     font-size: 1.2rem;
     letter-spacing: .1rem;
}