@media print { 
     
     .header, .footer, .navigation { 
          display: none !important; 
     }

     .u-bg {
          background-image: none;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: flex-start;
              -ms-flex-pack: flex-start;
                  justify-content: flex-start;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
      }
     
     #form-report-submission {
          display: none !important;
     }

     .report {
          width: 100%;
          background-color: var(--white);
          border-radius: 0px;
          -webkit-box-shadow: none;
                  box-shadow: none;
     }
          
          
     .report__result {
          font-size: 2rem;
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
     }
}