{% extends 'food/base.html' %}

     {% block content %}

     <div class="main main-form u-bg">
          
          <form action="" method="post" enctype="multipart/form-data" class="form">
               
               <div class="form__box">
                    <h2 class="heading-second">Article</h2>
                    {% csrf_token %}
                    {% include 'food/form-template.html' %}
                    <div class="form__group">
                         <label for="submit" class="form__label">&nbsp;</label>
                         <input class="form__input form__input--submit" type="submit" id="submit" value="Submit!">
                    </div>
               </div>

          </form>
     
     </div>
     {% endblock %}