{% extends 'food/base.html' %}


     {% block content %}

     <main class="main main--article u-bg">

          {% if all_articles %}

               {% for article in all_articles %}
               <article class="article">
                    <div class="row">
                         <div class="article__box">
                              <div class="article__content">
                                   <i class="article__icon fa fa-book" aria-hidden="true"></i>
                                   <h3 class="heading-three">{{article.title}}.</h3>
                                   <p class="article__paragraph">{{article.content}} </p>

                                   <figure class="author">
                                        {% load static %}
                                        <img class="author__img" src="{% static 'food/img/avatar.png' %}" alt="Awatar">
                                        <figcaption class="author__name">By {{article.author}}</figcaption>
                                   </figure>
                              </div>
                              <div class="article__photo-box">
                                   {% load static %}
                                   <img src="{% static 'food/img/city.png' %}" alt="City" class="article__photo">
                              </div>
                         </div>
                    </div>
               </article>
               {% endfor %}
          {% endif %}

          <a href="{% url 'food:add-article' %}" class="navigation__link navigation__link--active navigation__link--add-article">Add Articles</a>
     </main>
     {% endblock %}