<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <meta name="author" content="Karol Kozer s14575">
     <link rel="stylesheet" href="https://use.fontawesome.com/2eccaf5f1b.css">
     {% load staticfiles %}
     <link rel="stylesheet" href="{% static 'food/base.css' %}">
     <link rel="stylesheet" href="{% static 'food/home.css' %}">
     <link rel="stylesheet" href="{% static 'food/detail.css' %}">
     <link rel="stylesheet" href="{% static 'food/form.css' %}">
     <link rel="stylesheet" href="{% static 'food/print.css' %}">
     <link rel="stylesheet" href="{% static 'food/article.css' %}"> 
     <title>Easy Order</title>
</head>
<body>

     <nav class="navigation">
          <div class="row">
               <div class="navigation__content">
                    <div class="navigation__logo">
                         <a href="{% url 'food:index' %}" class="navigation__icon-link">
                              <i class="navigation__icon fa fa-taxi" aria-hidden="true"></i>
                         </a>
                    </div>

                    <ul class="navigation__nav">

                         <li class="navigation__item"><a href="{% url 'food:index' %}" class="navigation__link">Home</a></li>

                         <li class="navigation__item"><a href="{% url 'food:add-restaurant' %}" class="navigation__link">Add Restaurant</a></li>

                         <li class="navigation__item"><a href="{% url 'food:add-food' %}" class="navigation__link">Add Food</a></li>

                         <li class="navigation__item"><a href="{% url 'food:add-report' %}" class="navigation__link">Report</a></li>

                         <li class="navigation__item"><a href="{% url 'food:article' %}" class="navigation__link">Articles</a></li>
                    </ul>
               </div>
          </div>
     </nav>

     
     {% block content %}
     {% endblock %}

     <footer class="footer">
          <div class="row">
               <div class="footer__content">
                    <div class="footer__logo">
                         <a href="{% url 'food:index' %}" class="footer__nav-link">
                              <i class="footer__icon fa fa-taxi" aria-hidden="true"></i>
                         </a>
                    </div>
                    <ul class="footer__nav">
                         <li class="footer__item"><a href="{% url 'food:index' %}" class="footer__link">Home</a></li>
                         <li class="footer__item"><a href="{% url 'food:add-restaurant' %}" class="footer__link">Restaurant</a></li>
                         <li class="footer__item"><a href="{% url 'food:add-food' %}" class="footer__link">Food</a></li>
                         <li class="footer__item"><a href="{% url 'food:add-report' %}" class="footer__link">Report</a></li>
                         <li class="footer__item"><a href="{% url 'food:article' %}" class="footer__link">Article</a></li>
                    </ul>
                    <ul class="footer__nav-social">
                         <li class="footer__item"><a href="#" class="footer__link footer__link--social"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                         <li class="footer__item"><a href="#" class="footer__link footer__link--social"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                    </ul>
               </div>

               <p class="footer__info">Copyright © 2017 by Easy Order. All rights reserved.</p>
          </div>
     </footer>
     
</body>
</html>


