{% extends 'food/base.html' %}

     {% block content %}

          <section class="section section__restaurant u-bg">
               <div class="restaurant">
                    <div class="restaurant__logo-box">
                         <img src="{{ restaurant.restaurant_logo }}" alt="Logo" class="restaurant__logo">
                    </div>

                    <div class="restaurant__info">
                         <h3 class="restaurant__name">{{ restaurant.name }}</h3>
                         <h4 class="restaurant__menu">Menu:</h4>
          
                         <ul class="restaurant__list">
                              {% for food in restaurant.food_set.all %}
                                   <li class="restaurant__item">
                                        <span class="restaurant__food"> {{ food.food_name }} </span>
                                        <span class="restaurant__food-price">/ {{ food.food_price }} zł</span>
                                   </li>
                              {% endfor %}
                         </ul>
                    </div> 
               </div>
          </section>

     {% endblock %}

