{% for field in form  %}

     <div class="form__group">
          <span class="error">{{ field.errors }}</span>
          <label for="res" class="form__label">{{ field.label_tag }}</label>
          <div class="form__input">{{ field }}</div>
     </div>
{% endfor %}