{% extends 'food/base.html' %}

     {% block content %}

          <header class="header u-bg">
               <div class="header__text-box">
                    <h1 class="heading-primary">
                         <span class="heading-primary--main">Easy Order</span>
                         <span class="heading-primary--second">Find restaurants that deliver near you</span>
                    </h1>
                    
                    <!-- Sprawdzenie czy sa restauracje -->
                    {% if all_restaurants %}
                    <div class="header__restaurant">
                         {% for restaurant in all_restaurants %}
                              <!-- <a href="{{ restaurant.id }}">{{ restaurant.name }}</a> -->
                              <!-- food/ to jest stale -->
                              <a class="btn btn--white" href="{% url 'food:detail' restaurant.id  %}">{{ restaurant.name }}</a>
                         {% endfor %}
                    </div>
                    {% else %}
                         <p class="text">We do not have any restaurants</p>
                    {% endif %}

               </div>
          </header>

     {% endblock %}
