{% extends 'food/base.html' %}

     {% block content %}
     
     <div class="main main-form u-bg">

          <div class="report">
               {% if restaurants %}
                    {% for restaurant in restaurants %}

                    <h2 class="heading-second heading-second--report">Report {{ restaurant.name }}</h2>

                    <table class="report__result">
                         <tbody>
                              <tr>
                                   <th>Dish</th> 
                                   <th>Price</th>
                              </tr>
                              {% for food in foods %}
                              <tr>
                                   <td>{{ food.food_name }}</td> 
                                   <td>{{ food.food_price }} zł</td>
                              </tr>
                              {% endfor %}
                         </tbody>
                    </table>

                    {% endfor %}
               {% endif %}

               {% if price_statement %}
                    <p class="report__total">
                         Total: 
                         <span class="report__total-price">{{ total.food_price__sum }}</span> zł
                    </p>
               {% endif %}

               {% if avg_statement %}
                    <p class="report__total">
                         Average: 
                         <span class="report__total-price">{{ avg_price.food_price__avg }}</span> zł
                    </p>
               {% endif %}
          </div>
     
     </div>
     
     {% endblock %}